/*@import "antd/dist/antd.css";*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
}

#root {
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 8rem 1fr 2rem;}

main {
  flex-grow: 1;
  padding: 1.5rem 1.5rem 2rem;
}
main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
section h2 {
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: thin solid #ff9100;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

p {
  font-size: 0.9rem;
  margin: 0;
}
ul {
  list-style: none;
}
